<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>text vs utext</h2>
  <ul>
    <li>th:text 사용<span th:text="${data}"></span></li>
    <li>th:text 사용<span th:utext="${data}"></span></li>
  </ul>
  
  <h2><span th:inline="none">[[...]] vs [(...)]</span></h2>
  <ul>
    <li>컨텐츠 안에서 직접 출력하기 = [[${data}]]</li>
    <li>컨텐츠 안에서 직접 출력하기 = [(${data})]</li>
  </ul>
</body>
</html>